USE [master]
GO
/****** Object:  Database [EscuelaDB]    Script Date: 6/7/2020 14:25:08 ******/
CREATE DATABASE [EscuelaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EscuelaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EscuelaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EscuelaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EscuelaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EscuelaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EscuelaDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/7/2020 14:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alumno]    Script Date: 6/7/2020 14:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumno](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Documento] [int] NOT NULL,
	[CursoId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Alumno] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curso]    Script Date: 6/7/2020 14:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curso](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Curso] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materia]    Script Date: 6/7/2020 14:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Materia] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Materia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nota]    Script Date: 6/7/2020 14:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nota](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NotaPrimerTrimestre] [float] NULL,
	[NotaSegundoTrimestre] [float] NULL,
	[NotaTercerTrimestre] [float] NULL,
	[NotaFinal] [int] NULL,
	[AlumnoId] [int] NOT NULL,
	[MateriaId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Nota] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profesor]    Script Date: 6/7/2020 14:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Documento] [int] NOT NULL,
	[MateriaId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Profesor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Alumno] ON 

INSERT [dbo].[Alumno] ([Id], [Nombre], [Apellido], [Documento], [CursoId]) VALUES (4, N'ignacio             ', N'Mendia', 38465215, 2)
INSERT [dbo].[Alumno] ([Id], [Nombre], [Apellido], [Documento], [CursoId]) VALUES (5, N'Carlos', N'Rodrigues', 534546354, 3)
INSERT [dbo].[Alumno] ([Id], [Nombre], [Apellido], [Documento], [CursoId]) VALUES (6, N'Sebastian', N'Domingues', 232656565, 5)
SET IDENTITY_INSERT [dbo].[Alumno] OFF
GO
SET IDENTITY_INSERT [dbo].[Curso] ON 

INSERT [dbo].[Curso] ([Id], [Descripcion]) VALUES (6, N'Cuarto A')
INSERT [dbo].[Curso] ([Id], [Descripcion]) VALUES (2, N'Primero A')
INSERT [dbo].[Curso] ([Id], [Descripcion]) VALUES (7, N'Quinto A')
SET IDENTITY_INSERT [dbo].[Curso] OFF
GO
SET IDENTITY_INSERT [dbo].[Materia] ON 

INSERT [dbo].[Materia] ([Id], [Materia]) VALUES (3, N'Computacion')
INSERT [dbo].[Materia] ([Id], [Materia]) VALUES (6, N'Educación fisica')
INSERT [dbo].[Materia] ([Id], [Materia]) VALUES (4, N'Filosofia')
SET IDENTITY_INSERT [dbo].[Materia] OFF
GO
SET IDENTITY_INSERT [dbo].[Nota] ON 

INSERT [dbo].[Nota] ([Id], [NotaPrimerTrimestre], [NotaSegundoTrimestre], [NotaTercerTrimestre], [NotaFinal], [AlumnoId], [MateriaId]) VALUES (1, 6, 5, 9, 7, 5, 2)
INSERT [dbo].[Nota] ([Id], [NotaPrimerTrimestre], [NotaSegundoTrimestre], [NotaTercerTrimestre], [NotaFinal], [AlumnoId], [MateriaId]) VALUES (2, 1, 2, 3, 4, 4, 4)
INSERT [dbo].[Nota] ([Id], [NotaPrimerTrimestre], [NotaSegundoTrimestre], [NotaTercerTrimestre], [NotaFinal], [AlumnoId], [MateriaId]) VALUES (3, 3, 43, 2, 1, 7, 4)
SET IDENTITY_INSERT [dbo].[Nota] OFF
GO
SET IDENTITY_INSERT [dbo].[Profesor] ON 

INSERT [dbo].[Profesor] ([Id], [Nombre], [Apellido], [Documento], [MateriaId]) VALUES (1, N'Jose', N'Perez', 25365215, 1)
INSERT [dbo].[Profesor] ([Id], [Nombre], [Apellido], [Documento], [MateriaId]) VALUES (2, N'Carlos', N'Alberto', 25362154, 5)
INSERT [dbo].[Profesor] ([Id], [Nombre], [Apellido], [Documento], [MateriaId]) VALUES (3, N'Sergio', N'Mansur', 29658752, 6)
SET IDENTITY_INSERT [dbo].[Profesor] OFF
GO
/****** Object:  Index [IX_CursoId]    Script Date: 6/7/2020 14:25:08 ******/
CREATE NONCLUSTERED INDEX [IX_CursoId] ON [dbo].[Alumno]
(
	[CursoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DocumentoUnico]    Script Date: 6/7/2020 14:25:08 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DocumentoUnico] ON [dbo].[Alumno]
(
	[Documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DocumentoUnico]    Script Date: 6/7/2020 14:25:08 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DocumentoUnico] ON [dbo].[Curso]
(
	[Descripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NombreUnico]    Script Date: 6/7/2020 14:25:08 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_NombreUnico] ON [dbo].[Materia]
(
	[Materia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AlumnoId]    Script Date: 6/7/2020 14:25:08 ******/
CREATE NONCLUSTERED INDEX [IX_AlumnoId] ON [dbo].[Nota]
(
	[AlumnoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MateriaId]    Script Date: 6/7/2020 14:25:08 ******/
CREATE NONCLUSTERED INDEX [IX_MateriaId] ON [dbo].[Nota]
(
	[MateriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DocumentoUnico]    Script Date: 6/7/2020 14:25:08 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DocumentoUnico] ON [dbo].[Profesor]
(
	[Documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MateriaId]    Script Date: 6/7/2020 14:25:08 ******/
CREATE NONCLUSTERED INDEX [IX_MateriaId] ON [dbo].[Profesor]
(
	[MateriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alumno] ADD  DEFAULT ((0)) FOR [CursoId]
GO
ALTER TABLE [dbo].[Alumno]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Alumno_dbo.Curso_CursoId] FOREIGN KEY([CursoId])
REFERENCES [dbo].[Curso] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Alumno] CHECK CONSTRAINT [FK_dbo.Alumno_dbo.Curso_CursoId]
GO
ALTER TABLE [dbo].[Nota]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Nota_dbo.Alumno_AlumnoId] FOREIGN KEY([AlumnoId])
REFERENCES [dbo].[Alumno] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Nota] CHECK CONSTRAINT [FK_dbo.Nota_dbo.Alumno_AlumnoId]
GO
ALTER TABLE [dbo].[Nota]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Nota_dbo.Materia_MateriaId] FOREIGN KEY([MateriaId])
REFERENCES [dbo].[Materia] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Nota] CHECK CONSTRAINT [FK_dbo.Nota_dbo.Materia_MateriaId]
GO
ALTER TABLE [dbo].[Profesor]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Profesor_dbo.Materia_MateriaId] FOREIGN KEY([MateriaId])
REFERENCES [dbo].[Materia] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Profesor] CHECK CONSTRAINT [FK_dbo.Profesor_dbo.Materia_MateriaId]
GO
USE [master]
GO
