@{
    ViewBag.Title = "Home Page";
}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />

    <div class="container">
        <div class="row">
            <div class="col">
                <img src="~/Img/Logo.jpg" style="margin-top:30px; height:500px; width:500px;align-items:center" alt="Logo" />
            </div>
            <div class="col animate__animated animate__fadeInLeft" style="margin-top:200px; margin-left:150px;">
                <h1 style="color:#89373B;font-family: 'Permanent Marker', cursive;font-size:50px;">Ignacio</h1>
                <h1 style="color:#89373B;font-family: 'Permanent Marker', cursive;font-size:50px;">Mendia</h1>
            </div>
        </div>
    </div>
